@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
*{
  font-family: "SUSE", sans-serif;
}


.footer {
    background-color: #10221b;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .footer p {
    margin: 0;
  }
  
  .social-icons a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .social-icons a:hover {
    color: #1da1f2;  /* Change this color to match the hover effect */
  }
  