@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
*{
  font-family: "SUSE", sans-serif;
}


.destination-details {
  position: relative;
  text-align: center;
}

.image-container {
  position: relative;
}

.image-container img {
  height: 100vh; /* Full viewport height */
  width: 100vw;  /* Full viewport width */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.6), rgba(43, 43, 41, 0.1));
  z-index: 1;
}

.overlay h2 {
  color: #fff;
  font-size: 3rem;
  z-index: 2;
}

.destination-details p {
  font-size: 2rem;
  color: #000;
  margin-top: 20px;
  padding: 20px;
  text-align: justify;
}
