body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 900px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.form, .search {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="text"], input[type="number"], button {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-btn{
    margin-right: 750px;
}

button {
    width: 100px;
    font-size: 16px;
    background-color: #299d;
    color: white;
    border: rgba(0, 0, 0, 0.5) solid #191919;
    cursor: pointer;
    flex-shrink: 0;
}

button:hover {
    background-color: #fff;
    color: #299d;
    font-weight: 500;
}

#bookList {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.book {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #eee;
    background-color: #f9f9f9;
}