@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  background: #10221b;
}

section {
  padding: 5rem 9%;
}

.hbtn {
  margin-top: 1rem;
  display: inline-block;
  border: 0.2rem solid #10221b;
  border-radius: 20px;
  color: #10221b;
  cursor: pointer;
  background: none;
  font-size: 1.7rem;
  padding: 1rem 3rem;
  background: rgba(121, 161, 152, 0.447);
}

.hbtn:hover {
  background: #10221b;
  color: #fff;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  border: 0.2rem solid #10221b;
  border-radius: 20px;
  color: #10221b;
  cursor: pointer;
  background: none;
  font-size: 1.7rem;
  padding: 1rem 3rem;
}

.btn:hover {
  background: #10221b;
  color: #fff;
}

.heading {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 4rem;
  color: #10221b;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 9%;
  z-index: 1000;
  display: flex;
  align-items: center;
}

.header.active {
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.header .logo {
  text-decoration: none;
  margin-right: auto;
  font-size: 2.5rem;
  color: #10221b;
  font-weight: bolder;
}

.header .logo i {
  color: #219150;
}

.header .navbar a {
  text-decoration: none;
  margin-left: 2rem;
  font-size: 1.7rem;
  color: #10221b;
}

.header .navbar a:hover {
  color: #219150;
}

.header .navbar #nav-close {
  font-size: 5rem;
  cursor: pointer;
  color: #10221b;
  display: none;
}

.header .icons div {
  font-size: 2.5rem;
  margin-left: 2rem;
  cursor: pointer;
  color: #10221b;
}

.header .icons div:hover {
  color: #219150;
}

.header #menu-btn {
  display: none;
}

.search-form {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  transform: translateY(-110%);
}

.search-form.active {
  transform: translateY(0%);
}

.search-form #close-search {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  cursor: pointer;
  color: #fff;
  font-size: 6rem;
}

.search-form #close-search:hover {
  color: #219150;
}

.search-form form {
  width: 70rem;
  margin: 0 2rem;
  padding-bottom: 2rem;
  border-bottom: 0.2rem solid #fff;
  display: flex;
  align-items: center;
}

.search-form form input {
  width: 100%;
  font-size: 2rem;
  color: #fff;
  background: none;
  padding-right: 2rem;
}

.search-form form input::placeholder {
  color: #aaa;
}

.search-form form label {
  font-size: 3rem;
  cursor: pointer;
  color: #fff;
}

.search-form form label:hover {
  color: #219150;
}

.home {
  padding: 0;
}

.home .box {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-size: cover !important;
  background-position: center !important;
  justify-content: flex-start;
  padding: 2rem 9%;
}

.home .box .content {
  width: 50rem;
}

.home .box .content span {
  font-family: 'Bebas Neue', cursive;
  font-size: 60px;
  color: #10221b;
}

.home .box .content h3 {
  font-family: 'Bebas Neue', cursive;
  font-size: 10rem;
  color: white;
  padding-top: .5rem;
}

.home .box .content p {
  line-height: 2;
  color: #10221b;
  font-size: 1.5rem;
  padding: 1rem 0;
}



.adventure-activities {
  padding: 60px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.adventure-activities h2 {
  font-size: 2.5em;
  margin-bottom: 40px;
}

.activities-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.activity {
  position: relative;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: left;
  width: calc(25% - 40px);
  margin: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.activity:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.activity img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.activity h3, .activity p {
  position: absolute;
  left: 20px;
  right: 20px;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.activity h3 {
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  font-size: 1.5em;
  z-index: 1;
}

.activity p {
  bottom: 20px;
  font-size: 1em;
  z-index: 1;
}

.activity::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 0;
}

.activity:hover::before {
  opacity: 1;
}

.activity:hover h3, .activity:hover p {
  opacity: 1;
}





.features-details-container {
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping */
  justify-content: center; /* Center align */
}

.details-container {
  background-color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 35%;
  text-align: center;
  margin-top: 120px;
  margin-left: 400px;
  transition: transform 0.3s ease-in-out; /* Add transition for smooth effect */
}

.details-container:hover {
  transform: scale(1.05) translateY(-10px); /* Scale and translate on hover */
}

.f-img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.features-sub-title {
  font-size: 1.5em;
  margin: 10px 0;
}

.article-container {
  gap: 1.5rem;
  justify-content: center; /* Center align */
}

article {
  width: 10rem;
  justify-content: center; /* Center align */
  gap: 0.5rem;
}

.section__text__p1 {
  text-align: center;
  font-size: 32px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 3rem;
    color: #10221b;
}

/* Testimonials */
.testimonials-details-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap; /* Prevent wrapping */
}

.tarticle-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: space-around;
}

.tdetails-container {
  background-color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 30%;
  text-align: center;
  margin-top: 150px;
  transition: transform 0.3s ease-in-out; /* Add transition for smooth effect */
}

.tdetails-container:hover {
  transform: scale(1.05) translateY(-10px); /* Scale and translate on hover */
}


.newsletter {
  background: #eee;
}

.newsletter .content {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
}

.newsletter .content p {
  font-size: 1.5rem;
  line-height: 2;
  color: #10221b;
}

.newsletter .content form {
  margin-top: 2rem;
  background: #fff;
  border-radius: 5rem;
  border: 0.2rem solid #10221b;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.newsletter .content form .email {
  width: 100%;
  background: none;
  text-transform: none;
  font-size: 1.6rem;
  color: #10221b;
  padding: 0 1.3rem;
}

.newsletter .content form .btn {
  margin-top: 0;
  border-radius: 2rem;
  background: #10221b;
  color: #fff;
}

.newsletter .content form .btn:hover {
  background: none;
  color: #10221b;
}


.footer {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/blogbanner.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2.5rem;
  
}

.footer .box-container .box h3 {
  font-size: 2rem;
  padding: 1.5rem 0;
  color: #fff;
  
}

.footer .box-container .box a {
  display: block;
  font-size: 1.4rem;
  color: #fff;
  padding: 1rem 0;
  text-decoration: none;
}

.footer .box-container .box a i {
  color: #219150;
  padding-right: .5rem;
}

.footer .box-container .box a:hover {
  color: #219150;
}

.footer .box-container .box a:hover i {
  padding-right: 0rem;
}

.footer .credit {
  text-align: center;
  margin-top: 2.5rem;
  padding: 1rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  color: #fff;
}

.footer .credit span {
  color: #219150;
}
